---
const {
    adresse,
    favori,
    id,
    nbChambres,
    nbSdb,
    nomMaison,
    prix,
    surface,
    imgUrl,
} = Astro.props;
---

<div class="flex align-center justify-center">
    <div class="flex flex-col w-2/5 rounded-md shadow-lg my-4">
        <div>
            <img src={imgUrl} alt="Image de la maison" />
        </div>
        <div class="p-2 m-2">
            <div class="flex justify-between">
                <div>
                    <p class="text-sm text-gray-400">
                        <span class="font-bold text-xl text-purple-500"
                            >${prix}</span
                        >/months
                    </p>
                    <h2 class="font-bold text-2xl">{nomMaison}</h2>
                </div>
                <div>
                    <div x-data=`{favori: ${favori}}`>
                        <button @click="favori = !favori" class="flex gap-2">
                            <span x-show="!favori" class="bg-yellow-300 p-4"
                                >Mettre en favoris</span
                            >
                            <span x-show="favori" class="bg-slate-300 p-4"
                                >Retirer des favoris</span
                            >
                        </button>
                    </div>
                </div>
            </div>

            <p
                class="text-lg text-gray-500 mt-4 border-solid border-b-2 pb-6 border-gray-300"
            >
                {adresse}
            </p>

            <div class="flex justify-between mx-8 my-6">
                <p>{nbChambres} lits</p>
                <p>{nbSdb} salles de bain</p>
                <p>{surface} m²</p>
            </div>
        </div>
    </div>
</div>
